@import 'tailwindcss';

:root {
   --black: #000;
   --dark: #171717;
   --white: #fff;
}

@theme inline {
   --color-background: var(--dark);
   --color-foreground: var(--white);
   --font-sans: var(--font-geist-sans);
   --font-mono: var(--font-geist-mono);
}

@import './main.scss';
